/* https://fonts.google.com/specimen/Jost?query=j */
/* Jost
Regular 400 Italic */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital@1&display=swap');

*
{
    margin: 0;
    padding: 0;

}

body{ 
    font-family: 'Jost', sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
    background-image: url(bg-image.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav{
    background-color: white;
    box-shadow: 3px 3px 5x rgba(0, 0, 0, 0.1);

}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
nav li
{
height:50px;

}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover
{ 
    background-color:green;
    color: white;
}

nav li:first-child
{
    margin-right: auto;
}

.sidebar
{
position: fixed;
top: 0;
right: 0;
height: 100vh;
width: 250px;
z-index: 999;
/* this color on blur give a mirror effect */
background-color:rgba(255, 255, 255, 0.2) ;
/* to give blur effect on side bar */
backdrop-filter: blur(10px);
/* background-color: white; */
box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
/* to hide on large screen */
display:none;
/* display: flex; */
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
}

.sidebar li
{
    width:100%;
}

.sidebar a
{
    width:100%;
}
.nav-crossicon i
{
    font-size: 24px; /* Set the font size to increase the size of the icon */
    color: #000; /* Set the icon color */
    border: 1px solid #000; /* Add a border around the icon */
     border-radius: 4px; /* Optionally, you can add border radius for rounded corners */
    padding: 4px; 
    /* Optionally, you can add padding to control the space between the icon and the border */
      }
.nav-baricon i {
    display: none;
    font-size: 24px; /* Set the font size to increase the size of the icon */
    color: #000; /* Set the icon color */
    border: 1px solid #000; /* Add a border around the icon */
    border-radius: 4px; /* Optionally, you can add border radius for rounded corners */
    padding: 4px; /* Optionally, you can add padding to control the space between the icon and the border */
   
  }

@media(max-width:800px)
{
    .hideOnMobile
    {
        display: none;
    }
    /* bar icon of nav only appear on small screen */
    .nav-baricon i
    {
        display: block;
    }
}

/* to make glass effect full size on small screen */
@media(max-width: 400px) 
{
    .sidebar {
        width: 100%;
    }
}






